body{
    height: 100%;
}

.App{
    background-image: url('./assets/bg-cold.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: all 1s ease-in-out;
}

.App.warm{
    background-image: url('./assets/bg-warm.jpg');
    transition: all 1s ease-in-out;

}